
<div class="col-lg-3">
    <h1 class="h2 pb-4">Categories</h1>
    <ul class="list-unstyled templatemo-accordion">
        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Cinsiyet
                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class="collapse show list-unstyled pl-3">
                <li><a class="text-decoration-none" href="/Shop/FilterErkek/">Erkek</a></li>
                <li><a class="text-decoration-none" href="/Shop/FilterKadin/">Kadın</a></li>
                <li><a class="text-decoration-none" href="/Shop/FilterUnisex/">Unisex</a></li>

            </ul>
        </li>
        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Yürüyüş
                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul id="collapseThree" class="collapse list-unstyled pl-3">
                <li><a class="text-decoration-none" href="/Shop/FilterYuruyus/">Günlük</a></li>
                <li><a class="text-decoration-none" href="/Shop/FilterSandalet/">Sandalet</a></li>

            </ul>
        </li>
        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Spor
                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                <li><a class="text-decoration-none" href="/Shop/FilterKosu/">Koşu</a></li>
                <li><a class="text-decoration-none" href="/Shop/FilterFutbol/">Futbol</a></li>
            </ul>
        </li>
        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Kışlık
                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul id="collapseThree" class="collapse list-unstyled pl-3">
                <li><a class="text-decoration-none" href="/Shop/FilterBot/">Bot</a></li>
           
            </ul>
        </li>
    </ul>
</div>
